{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="page-header">Contact Form</h1>
            {{ form(contact_form) }}
        </div>
    </div>
{% endblock %}